#Core LLM + langchain ecosystem
langchain>=0.2.0
langchain-core>=0.2.0
langchain-community>=0.2.0
langchain-groq
streamlit>=1.0.0

#Tavily Search Tool
tavily-python>=0.3.0

#Web Scraping
beautifulsoup4>=4.12.0
readability-lxml
trafilatura
requests>=2.31.0
lxml>=5.0.0

#environment variables
python-dotenv>=1.0.0

#logging and debugging
rich>=14.0.0